@keyframes colorize {
    0%{
        box-shadow: -15px 4px var(--form-color);
        transform: rotate(-1.3deg);

    }
    50%{
        box-shadow: 15px 10px var(--form-color2);
        transform: rotate(1.3deg);
    }
    100%{
        box-shadow: -15px 4px var(--form-color);
        transform: rotate(-1.3deg);
    }
}

:root{
    --font-color: #000;
    --background-color: #fff;
    --form-color: #f9c;
    --form-color2: #c9f;
    --soft-color: #fff;
    --submit-color: #bbb;
}

body[theme = "black"]{
    --font-color: #fff;
    --background-color: #333;
    --form-color: #301;
    --form-color2: #103;
    --soft-color: #ccc;
    --submit-color: #333;   
}


*{
    box-sizing: border-box;
    margin: 0;
    color: var(--font-color);
}
body{
    background-color: var(--background-color);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 200px;
    width: 600px;

}
.container{
    width: 700px;
    border: 1px solid var(--soft-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(50deg, var(--form-color), var(--form-color2));
    justify-content: center;
    animation-name: colorize;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.container form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.container form input{
    margin: 20px;
    padding: 3px;
    font-size: 23px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--soft-color);
}
.container form input::placeholder{
    color: var(--font-color);
}

.submits{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submits input[type='submit']{
    border: 1px solid var(--soft-color); 
    border-radius: 6px;
    width: fit-content;
    padding: 10px;
    align-self: center;
    cursor: pointer;
}
.remember{
    color: var(--soft-color);
}
#submit-action{
    background-color: var(--submit-color);
    border: 1px solid var(--soft-color);   
}
.container a{
    margin: 6px;
    text-align: center;
    color: var(--font-color);
    text-decoration:none;
}
.container a:visited{
    color: var(--font-color);
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
footer .container{
    padding: 20px;
}

.modal{
    displaY: flex;
    justify-content: center;
    align-items:center;
    height: 200px;
    font-size: 30px
}