*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --background-color: #fff;
}

header{
    height: 75px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 5px #999; 
}
.logo{

    flex: 2;
}
.user-info{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}
.user-info a{
    color: #000;
    text-decoration: none;
}
.user-info a:visited{
    color: #000;
}
#logout{
    color: #b00;
}