*{
    box-sizing: border-box;
    margin: 0;
}
.select-days-modal{
    display: none;
}

.days{
    background-color: red;
    display: flex;
    width: 1050px;
    flex-wrap: wrap;
}

.calendar-day{
    width: 150px;
}